<template name="volunteersList">

    <div> Volunteering opportunities list:</div>
    <div class="volunteer page">
        <div class="wrapper">
            {{#each volunteerings}}
                {{> volunteerItem}}
            {{/each}}
        </div>

        <!--{{#if nextPath}}-->
            <!--<a class="load-more" href="{{nextPath}}">Load more</a>-->
        <!--{{else}}-->
            <!--{{#unless ready}}-->
                <!--{{> spinner}}-->
            <!--{{/unless}}-->
        <!--{{/if}}-->
    </div>
</template>
